
{% extends 'base.html' %}

{% block title %}Definir Riesgos{% endblock %}
{% block content %}

  <body>
    <h2>Definir Riesgos para el Proyecto: {{ project_plan.name }}</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Guardar Riesgo</button>
    </form>

     
     <p><a href="{% url 'view_risks' project_id=project_plan.id %}">Ver riesgos</a></p>     
    <p><a href="{% url 'indice' project_plan.id %}">Regresar</a></p>
  </body>
{% endblock %}
