
{% extends 'base.html' %}

{% block title %}Eliminar Proyecto{% endblock %}
{% block content %}
  <body>
    <h1>Eliminar Proyecto</h1>

    <p>
      ¿Estás seguro de que deseas eliminar el proyecto "<strong
        >{{ project_plan.title }}</strong
      >"?
    </p>

    <form method="post">
      {% csrf_token %}
      <button type="submit">Eliminar</button>
      <a href="{% url 'view_project_plan' project_id=project_plan.id %}"
        >Cancelar</a
      >
    </form>
  </body>
{% endblock %}
