
{% extends 'base.html' %}

{% block title %}Editar Plan de Proyecto{% endblock %}
{% block content %}
  <body>
    <h1>Editar Plan de Proyecto</h1>

    <form method="POST">
      {% csrf_token %}

      <label for="id_title">Título del Proyecto:</label><br />
      <input
        type="text"
        id="id_title"
        name="title"
        value="{{ form.title.value|default_if_none:'' }}"
        maxlength="100"
      /><br /><br />

      <label for="id_description">Descripción del Proyecto:</label><br />
      <textarea id="id_description" name="description" rows="4" cols="50">
{{ form.description.value|default_if_none:'' }}</textarea
      ><br /><br />

      <label for="id_objetive">Objetivo del Proyecto:</label><br />
      <textarea id="id_objetive" name="objetive" rows="4" cols="50">
{{ form.objetive.value|default_if_none:'' }}</textarea
      ><br /><br />

      <label for="id_clientName">Nombre del Cliente:</label><br />
      <input
        type="text"
        id="id_clientName"
        name="clientName"
        value="{{ form.clientName.value|default_if_none:'' }}"
        maxlength="50"
      /><br /><br />

      <label for="id_employeeName">Nombre del Empleado:</label><br />
      <input
        type="text"
        id="id_employeeName"
        name="employeeName"
        value="{{ form.employeeName.value|default_if_none:'' }}"
        maxlength="50"
      /><br /><br />

      <label for="id_employeeRole">Rol del Empleado:</label><br />
      <input
        type="text"
        id="id_employeeRole"
        name="employeeRole"
        value="{{ form.employeeRole.value|default_if_none:'' }}"
        maxlength="50"
      /><br /><br />

      <label for="id_startDate">Fecha de Inicio:</label><br />
      <input
        type="date"
        id="id_startDate"
        name="startDate"
        value="{{ form.startDate.value|default_if_none:'' }}"
      /><br /><br />

      <label for="id_endDate">Fecha de Fin:</label><br />
      <input
        type="date"
        id="id_endDate"
        name="endDate"
        value="{{ form.endDate.value|default_if_none:'' }}"
      /><br /><br />

      <label for="id_presupuestoTotal">Presupuesto Total (USD):</label><br>
<input type="number" id="id_presupuestoTotal" name="presupuestoTotal" step="0.01" value="{{ form.presupuestoTotal.value }}"><br><br>


      <button type="submit">Guardar Cambios</button>
    </form>

    <!-- Enlace para volver a la vista del proyecto -->
    <p>
      <a href="{% url 'view_project_plan' project_id=project.id %}"
        >Volver a la Vista del Proyecto</a
      >
    </p>
  </body>
{% endblock %}
