{% extends 'base.html' %}

{% block title %}Editar Recurso{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-primary">Editar Recurso del Proyecto: <span class="text-dark">{{ project_plan.title }}</span></h1>
    
    <div class="card shadow-sm border-0 my-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="{% url 'view_resources' project_id=project_plan.id %}" class="btn btn-secondary ms-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
