
{% extends 'base.html' %}

{% block title %}Índice del Proyecto{% endblock %}
{% block content %}
<body>
    <h1>Índice del Proyecto</h1>

        <div class="d-grid gap-3">
            <a href="{% url 'ver_ambito_proyecto' project_id=project_plan.id %}" class="btn btn-primary btn-block">Definir Ámbito del Proyecto</a>
            <a href="{% url 'add_task' project_id=project_plan.id %}" class="btn btn-primary btn-block">Definir Nueva Tarea del Proyecto</a>
            <a href="{% url 'define_work_team' project_id=project_plan.id  %}" class="btn btn-primary btn-block">Definir Equipo de trabajo</a>
            <a href="{% url 'define_resources' project_id=project_plan.id  %}" class="btn btn-primary btn-block">Definir Recursos</a>
            <a href="{% url 'view_risks' project_id=project_plan.id %}" class="btn btn-primary btn-block">Definir Riesgos y Restricciones</a>
            <a href="{% url 'agregar_esfuerzo' project_id=project_plan.id %}" class="btn btn-primary btn-block">Definir Esfuerzo</a>
            <a href="{% url 'view_project_plan' project_id=project_plan.id %}" class="btn btn-primary btn-block">Ver Plan del Proyecto</a>
            <a href="{% url 'resumen_proyecto' project_id=project_plan.id  %}" class="btn btn-primary btn-block">Ver Resumen del Proyecto</a>
          </div>
</body>
{% endblock %}
