<!--Pagina indice de prueba-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice de Páginas</title>
</head>
<body>
    <h1>Índice de Páginas</h1>
    <ul>
        <li><a href="{% url 'definir_ambito_proyecto' %}">Definir Ámbito del Proyecto</a></li>
        <li><a href="{% url 'add_task' %}">Definir Nueva Tarea del Proyecto</a></li>
        {% if proyecto_actual %}
            <li><a href="{% url 'view_project_plan' proyecto_actual.id %}">Ver Plan del Proyecto</a></li>
        {% else %}
            <li>No hay un proyecto actual disponible para ver.</li>
        {% endif %}
        <!-- Agrega más enlaces a otras vistas -->
    </ul>
</body>
</html>
<!---->