<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen del Proyecto</title>
    <style>
        body { font-family: Arial, sans-serif; }
        h1, h2 { color: #333; }
        .section { margin-bottom: 20px; }
        .btn-download { margin-top: 20px; padding: 10px 20px; background-color: #28a745; color: #fff; border: none; cursor: pointer; }
        
        /* Ocultar el botón al generar el PDF */ 
        .no-print { display: none; }

        /* Mostrar el botón solo en pantalla */
        @media screen {
            .no-print { display: inline; }
        }
    
    </style>
</head>
<body>
    <h1>Resumen del Proyecto "{{ proyecto.title }}"</h1>

    <div class="section">
        <h2>Información General</h2>
        <p><strong>Descripción:</strong> {{ proyecto.description }}</p>
        <p><strong>Objetivo:</strong> {{ proyecto.objetive }}</p>
        <p><strong>Cliente:</strong> {{ proyecto.clientName }}</p>
        <p><strong>Fecha de Inicio:</strong> {{ proyecto.startDate|date:"d M Y" }}</p>
        <p><strong>Fecha de Fin:</strong> {{ proyecto.endDate|date:"d M Y" }}</p>
        <p><strong>Presupuesto Total:</strong> {{ proyecto.presupuestoTotal }}</p>
    </div>


        <!-- Botón para descargar el PDF, solo visible en pantalla -->
        <a href="{% url 'descargar_resumen_pdf' proyecto.id %}" class="btn-download no-print">Descargar Resumen en PDF</a>

        <!---Enlace para volver al indice del proyecto -->
        <p><a href="{% url 'indice' proyecto.id %}">Volver al Indice de Proyecto</a></p>

        <!---Enlace para volver al plan de proyecto -->
        <p><a href="{% url 'view_project_plan' proyecto.id %}">Volver al Plan de Proyecto</a></p>

        <!---Enlace para volver a la pagina de incio -->
        <p><a href="{% url 'home' %}">Volver a la página de incio</a></p>

</body>
</html>
