{% extends 'base.html' %}

{% block title %}Riesgos y Restricciones{% endblock %}
{% block content %}
<body>
    <h1>Riesgos del Proyecto</h1>

    {% if project_risks %}
        <table border="1">
            <thead>
                <tr>
                    <th>Identificador del Riesgo</th>
                    <th>Descripción</th>
                    <th>Tipo de Riesgo</th>
                    <th>Impacto en el Proyecto</th>
                
                </tr>
            </thead>
            <tbody>
                {% for risk in project_risks %}
                    <tr>
                        <td>{{ risk.risk_identifier }}</td>
                        <td>{{ risk.description }}</td>
                        <td>{{ risk.risk_type }}</td>
                        <td>{{ risk.severity_level }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay riesgos del proyecto registrados aún.</p>
    {% endif %}

    <p><a href="{% url 'define_risks' project_id %}">Agregar Nuevo Riesgo</a></p>
    

    <h1>Restricciones Creadas</h1>

    {% if restricciones %}
        <ul>
            {% for restriccion in restricciones %}
                <li>
                <strong>Descripción:</strong> {{ restriccion.descripcion }}<br>
                <strong>Tipo de Riesgo:</strong> 
                
                {% if restriccion.tipo_riesgo %}
                    {{ restriccion.get_tipo_riesgo_display }}
                {% else %}
                    <em>No especificado</em> 
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay restricciones creadas aún.</p>
    {% endif %}

    <p><a href="{% url 'agregar_restriccion' project_id %}">Agregar Nueva Restricción</a></p>

    <p><a href="{% url 'view_project_plan' project_id %}">Regresar</a></p>
</body>
{% endblock %}