{% extends 'base.html' %}

{% block title %}Ver Plan de Proyecto{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-4 text-dark">Plan de Proyecto</h1>


  {% if project_plan %}
  <!-- Información Básica -->
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-secondary text-white">Información Básica</div>
    <div class="card-body">
      <p><strong>Título del Proyecto:</strong> {{ project_plan.title }}</p>
      <p><strong>Descripción:</strong> {{ project_plan.description }}</p>
      <p><strong>Objetivo:</strong> {{ project_plan.objetive }}</p>
      <p><strong>Cliente:</strong> {{ project_plan.clientName }}</p>
      <p><strong>Fecha de Inicio:</strong> {{ project_plan.startDate|date:"d M Y" }}</p>
      <p><strong>Fecha de Fin:</strong> {{ project_plan.endDate|date:"d M Y" }}</p>
      <p><strong>Presupuesto Total:</strong> ${{ project_plan.presupuestoTotal }}</p>
    </div>
  </div>

  <!-- Ámbito del Proyecto -->
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-secondary text-white">Ámbito del Proyecto</div>
    <div class="card-body">
      {% for item in ambito %}
      <p>{{ item.descripcion_ambito }}</p>
      <p><strong>Características principales:</strong> {{ item.caracteristicas_principales }}</p>
      <p><strong>Limitaciones:</strong> {{ item.limitaciones }}</p>
      {% empty %}
      <p>No se ha definido el ámbito del proyecto.</p>
      <a href="{% url 'definir_ambito_proyecto' project_id=project_plan.id %}" class="btn btn-primary">Definir Ámbito</a>
      {% endfor %}
    </div>
  </div>

  <!-- Tareas -->
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-secondary text-white">Tareas del Proyecto</div>
    <div class="card-body">
      {% for task in tasks %}
      <h5>{{ task.name }}</h5>
      <p><strong>Duración Estimada:</strong> {{ task.estimated_duration }} horas</p>
      <p><strong>Fecha de Inicio:</strong> {{ task.start_date|date:"d M Y" }}</p>
      <p><strong>Fecha de Fin:</strong> {{ task.end_date|date:"d M Y" }}</p>
      <hr />
      {% empty %}
      <p>No hay tareas definidas para este proyecto.</p>
      <a href="{% url 'add_task' project_id=project_plan.id %}" class="btn btn-primary">Agregar Tarea</a>
      {% endfor %}
    </div>
  </div>

  <!-- Equipo de Trabajo -->
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-secondary text-white">Equipo de Trabajo</div>
    <div class="card-body">
      {% for member in team %}
      <h5>{{ member.name }}</h5>
      <p><strong>Rol:</strong> {{ member.role }}</p>
      <hr />
      {% empty %}
      <p>No hay miembros asignados al equipo de trabajo.</p>
      <a href="{% url 'define_work_team' project_id=project_plan.id %}" class="btn btn-primary">Definir Equipo</a>
      {% endfor %}
    </div>
  </div>

  <!-- Recursos -->
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-secondary text-white">Recursos del Proyecto</div>
    <div class="card-body">
      {% for resource in resources %}
      <h5>{{ resource.name }}</h5>
      <p><strong>Tipo:</strong> {{ resource.resource_type }}</p>
      <p><strong>Cantidad:</strong> {{ resource.quantity_estimated }}</p>
      <hr />
      {% empty %}
      <p>No hay recursos asignados a este proyecto.</p>
      <a href="{% url 'define_resources' project_id=project_plan.id %}" class="btn btn-primary">Definir Recursos</a>
      {% endfor %}
    </div>
  </div>


  <!-- Riesgos -->
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-secondary text-white">Riesgos del Proyecto</div>
    <div class="card-body">
      {% for risk in risks %}
      <h5>{{ risk.risk_identifier }}</h5>
      <p><strong>Descripción:</strong> {{ risk.description }}</p>
      <p><strong>Tipo de Riesgo:</strong> {{ risk.risk_type }}</p>
      <p><strong>Impacto:</strong> {{ risk.severity_level }}</p>
      <hr />
      {% empty %}
      <p>No hay riesgos definidos para este proyecto.</p>
      <a href="{% url 'define_risks' project_id=project_plan.id %}" class="btn btn-primary">Definir Riesgos</a>
      {% endfor %}
    </div>
  </div>

  <!-- Restricciones -->
  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-secondary text-white">Restricciones</div>
    <div class="card-body">
      {% for restriction in restrictions %}
      <p>{{ restriction.descripcion }}</p>
      <hr />
      {% empty %}
      <p>No hay restricciones definidas para este proyecto.</p>
      <a href="{% url 'agregar_restriccion' project_id=project_plan.id %}" class="btn btn-primary">Agregar Restricción</a>
      {% endfor %}
    </div>
  </div>

  <!-- Navegación -->
  <div class="d-flex justify-content-end mt-4">
    <a href="{% url 'edit_project_plan' project_id %}" class="btn btn-primary me-2">Editar Información</a>

    {% if project_plan.title and project_plan.description and project_plan.objetive and ambito and tasks and team and resources and risks and restrictions %}
      <a href="{% url 'descargar_plan_completo' project_id %}" class="btn btn-success me-2">Descargar PDF</a>
    {% else %}
      <button class="btn btn-secondary me-2" disabled>Completa el plan para descargar el PDF</button>
    {% endif %}


    <a href="{% url 'delete_project_plan' project_id %}" class="btn btn-danger">Eliminar Proyecto</a>
  </div>



  {% else %}
  <p>No se ha definido el plan de proyecto aún.</p>
  {% endif %}
</div>
{% endblock %}
