{% extends 'base.html' %}

{% block title %}Equipo de Trabajo{% endblock %}
{% block content %}
<body>
  <h1 class="mt-4">Equipo de Trabajo para el Proyecto: <span class="text-primary">{{ project_plan.title }}</span></h1>

  <h2 class="mt-4">Miembros del Equipo</h2>

  {% if team_members %}
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="table-light">
        <tr>
          <th>Nombre</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        {% for member in team_members %}
        <tr>
          <td>{{ member.name }}</td>
          <td>{{ member.get_role_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="alert alert-warning">No hay miembros en el equipo actualmente.</p>
  {% endif %}

  <div class="mt-4">
    <a
      href="{% url 'define_work_team' project_id=project_plan.id %}"
      class="btn btn-success"
    >
      Añadir o Editar Miembros
    </a>
    <a
      href="{% url 'view_project_plan' project_id=project_plan.id %}"
      class="btn btn-secondary"
    >
      Regresar al Proyecto
    </a>
  </div>
</body>
{% endblock %}
