
{% extends 'base.html' %}

{% block title %}Equipo de trabajo{% endblock %}
{% block content %}
<body>
    <h1>Equipo de Trabajo para el Proyecto: {{ project_plan.title }}</h1>

    <h2>Miembros del Equipo</h2>
    <ul>
        {% for member in team_members %}
            <li>{{ member.name }} - {{ member.get_role_display }}</li>
        {% empty %}
            <p>No hay miembros en el equipo actualmente.</p>
        {% endfor %}
    </ul>

    <a href="{% url 'define_work_team' project_id=project_plan.id %}">Añadir o Editar Miembros</a>
    </p><a href="{% url 'view_project_plan' project_id=project_plan.id %}">Regresar a proyecto</a></p>
</body>
{% endblock %}