
{% extends 'view_home.html' %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <h2>Home</h2>
        <p>Bienvenido, {{request.user.username}}!</p>
        <ul>
            {% for project in recent_projects %}
                <li>{{ project.title }} - Creado el: {{ project.startDate }}
                <a href="{% url 'view_project_plan' project.id %}">Ver más</a> 
                <a href="{% url 'indice' project.id %}">Agregar información</a> </li>
                </li>
            {% empty %}
                <li>No tienes proyectos recientes.</li>
            {% endfor %}
        </ul>
    </div>
</body> 
{% endblock %}