
{% extends 'base.html' %}

{% block title %}Ver cronograma{% endblock %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .timeline {
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;
    }
    .timeline th, .timeline td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }
    .timeline th {
        background-color: #f4f4f4;
    }
    .task-row {
        position: relative;
    }
    .task-block {
        background-color: #76c7c0;
        color: white;
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 0;
    }
    .timeline-grid {
        display: flex;
        align-items: center;
    }
    .day {
        width: 25px;
        height: 25px;
        text-align: center;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }
    .day.active {
        background-color: #76c7c0;
        color: white;
    }
</style>
</head>
<body>
<h1>Cronograma: {{ project.title }}</h1>
<p>Inicio del Proyecto: {{ project.startDate }}</p>
<p>Fin del Proyecto: {{ project.endDate }}</p>

<table class="timeline">
    <thead>
        <tr>
            <th>Tarea</th>
            <th>Cronograma</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td class="timeline-grid">
                    {% for day in date_range %}
                        <div class="day {% if day >= task.start_date and day <= task.end_date %}active{% endif %}">
                            {{ day|date:"d" }}
                        </div>
                    {% endfor %}
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Botón para volver al plan del proyecto -->
<div class="mt-4">
    <a href="{% url 'view_project_plan' project_id=project.id %}" class="btn btn-secondary">Volver al Plan del Proyecto</a>
</div>

</body>

{% endblock %}
